html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  background: url('https://icon-icons.com/icons2/621/PNG/512/magnifier-1_icon-icons.com_56924.png') no-repeat center center;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.weather-info {
  position: relative;
  width: 300px; 
  height: 200px;
  border: 1px solid #ccc;
  background-color: rgb(240, 0, 0); 
  color: white; 
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.city {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.temperature {
  font-size: 32px; 
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.weather-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
}

.weather-image {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px; 
  height: 50px; 
}
